<section class="hero-section">
    <div class="overlay-content">
      <div class="container" style="padding: 2rem;">
        <div class="row">
            <div class="col-md-12">
                <h2 class="overview-text">
                    <span style="border-bottom: 3px double #D2042D;">Location</span>
                </h2>
            </div>
            <div class="col-md-4">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d123384.65648868118!2d78.150552!3d17.449637!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcbef7e53aafb1f%3A0xce58bc56a0649b4e!2sReliance%20Courtyard!5e1!3m2!1sen!2sus!4v1757525608948!5m2!1sen!2sus" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-md-8">
                <div class="row g-4">
                    <div class="col-md-6 col-12">
                      <div class="info-block">
                        <mat-icon class="info-icon" style="color: #D2042D; font-size: 2rem;width: auto;height: auto;">school</mat-icon>
                        <h4><strong>Educational Institutions</strong></h4>
                        <ul class="list-unstyled small">
                          <li>Indus International School - 7 km</li>
                          <li>ICFAI Business School (IBS) - 9 km</li>
                          <li>IT Hyderabad - 20 mins</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-6 col-12">
                      <div class="info-block">
                       <mat-icon class="info-icon" style="color: #D2042D; font-size: 2rem;width: auto;height: auto;">local_hospital</mat-icon>
                        <h4><strong>Healthcare Facilities</strong></h4>
                        <ul class="list-unstyled small">
                          <li>Lalitha Hospital - 1.5 km</li>
                          <li>Gayathri Hospital - 1.5 km</li>
                          <li>Medicure Hospital - 2.5 km</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-6 col-12">
                      <div class="info-block">
                        <mat-icon class="info-icon" style="color: #D2042D; font-size: 2rem;width: auto;height: auto;">shopping_cart</mat-icon>
                        <h4><strong>Shopping & Daily Needs</strong></h4>
                        <ul class="list-unstyled small">
                          <li>Vijetha Super Market - 7 km / 15 mins</li>
                          <li>Value Zone HyperMart - 30 mins</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-6 col-12">
                      <div class="info-block">
                        <mat-icon class="info-icon" style="color: #D2042D; font-size: 2rem;width: auto;height: auto;">sports_soccer</mat-icon>
                        <h4><strong>Lifestyle & Recreation</strong></h4>
                        <ul class="list-unstyled small">
                          <li>BVRS Cricket Ground - 7.8 km</li>
                          <li>Gachibowli IT Park – 25–30 Mins*</li>
                          <li>Kollur ORR Junction - 15 km</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
    </div>
    </div>
  </section>
  <div class="contact-form-container">
      <h2 class="overview-text" style="color: white !important;">Contact Us</h2>
    
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <!-- Name -->
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" formControlName="name" class="form-control" />
          <small *ngIf="contactForm.controls['name'].invalid && contactForm.controls['name'].touched" class="error">
            Name is required (min 3 characters)
          </small>
        </div>
    
        <!-- Email -->
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" formControlName="email" class="form-control" />
          <small *ngIf="contactForm.controls['email'].invalid && contactForm.controls['email'].touched" class="error">
            Enter a valid email address
          </small>
        </div>
    
        <!-- Phone -->
        <div class="form-group" style="display: flex;">
            <!-- Country Code Input -->
            <input
              type="text"
              class="form-control"
              formControlName="countryCode"
              placeholder="+91"
              style="max-width: 100px"
            />
        
            <!-- Phone Number Input -->
            <input
              type="tel"
              name="phone"
              id="phone"
              class="form-control input-custom"
              placeholder="Mobile Number*"
              required
              formControlName="phone"
            />
         
        
          <small
            *ngIf="contactForm.controls['phone'].invalid && contactForm.controls['phone'].touched"
            class="error"
          >
            Enter a valid 10-digit phone number
          </small>
        
        </div> 
        <button type="submit" [disabled]="contactForm.invalid || loading" class="btn btn-primary"> 
          <span *ngIf="!loading">Submit</span>
          <span *ngIf="loading" class="spinner"></span>
        </button>
      </form>
    </div>
    