.contact-form-container {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Playfair Display', Georgia, serif;
  }
  
  h2 {
    text-align: center;
    color: white;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  label {
    display: block;
    margin-bottom: 5px;
    color: white;
  }
  .form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn:disabled {
    background: gray;
  }
  /* Title */
  .title {
    font-size: 28px;
    color: #a08b6e;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .spinner {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid white;
    border-top: 2px solid transparent;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    margin-left: 8px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .hero-section {
    background-image: url('../../../public/property_img/prop11.webp'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    position: relative;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .overlay-content {
    background-color: white;
    padding: 0.5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    max-width: 100%;
    text-align: center;
  }
  
  @media screen and (max-width: 768px) {
    .hero-section {
      height: auto;
    }
    .overlay-content {
      padding: 0.5rem;
    }
    
  }
  .overview-text{
    font-family: "Bebas Neue", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #00426b; 
    text-transform: uppercase; 
    font-size: 2rem; 
    font-weight: 700; 
    position: relative;
  }