

<div class="container" style="padding: 2rem 1rem; font-family: sans-serif;">
    <div class="row">
        <div class="col-md-12">
            <h2
                class="overview-text">
                <span style="border-bottom: 3px double #67ad4c;">Gallery</span>
            </h2>
        </div>
    </div>
    <!-- Carousel -->
            <div class="row justify-content-center" *ngFor="let group of groupedImages">
                <div *ngFor="let image of group" class="col-md-4 col-sm-6 col-12 justify-content-center my-1">
                    <img [src]="image.thumbnail" [alt]="image.alt" class="img-fluid rounded shadow-sm"
                        (click)="openLightbox(image.full)" />
                </div>
            </div>

    <!-- Lightbox Modal -->
    <ng-template #lightbox let-modal>
        <div class="modal-body text-center p-0 modal-zoom">
            <img [src]="currentImage" alt="Full Image" class="img-fluid w-100" />
        </div>
    </ng-template>

</div>

<div class="container" style="padding: 2rem;">
    <div class="row">
        <div class="col-md-12">
            <h2
                class="overview-text">
                <span style="border-bottom: 3px double #67ad4c;">Download</span>
            </h2>
        </div>
        <div
            style="max-width: 1200px; margin: auto; display: flex; flex-wrap: wrap; justify-content: center; gap: 2rem; ">

            <!-- Single Card -->
            <div style="border: 1px solid #67ad4c; text-align: center; padding: 2rem; width: 300px; position: relative; box-shadow: 1px 2px;border-radius: 10px;"
                class="property-card">
                <div class="card-content">
                    <mat-icon style="color: #67ad4c;font-size: xx-large;">article</mat-icon>
                    <h3 style="margin-bottom: 1rem;">Brochure</h3>
                    <button (click)="open('Download Brochure')" class="cta-btn">
                        DOWNLOAD
                    </button>
                </div>
                <div class="vector-bg"></div>
            </div>

            <!-- Floor Plan Card -->
            <div style="border: 1px solid #67ad4c;border-radius: 10px; text-align: center; padding: 2rem; width: 300px; position: relative;box-shadow: 1px 2px;"
                class="property-card">
                <div class="card-content">
                    <mat-icon style="color: #67ad4c;font-size: xx-large;">apartment</mat-icon>
                    <h3 style="margin-bottom: 1rem;">Floor Plan</h3>
                    <button (click)="open('Download Floor Plan')" class="cta-btn">
                        DOWNLOAD
                    </button>
                </div>
                <div class="vector-bg"></div>
            </div>

            <!-- Site Plan Card -->
            <div style="border: 1px solid #67ad4c; text-align: center; padding: 2rem; width: 300px; position: relative;box-shadow: 1px 2px;border-radius: 10px;"
                class="property-card">
                <div class="card-content">
                    <mat-icon style="color: #67ad4c;font-size: xx-large;">yard</mat-icon>
                    <h3 style="margin-bottom: 1rem;">Site Plan</h3>
                    <button (click)="open('Download Site Plan')" class="cta-btn">
                        DOWNLOAD
                    </button>
                </div>
                <div class="vector-bg"></div>
            </div>

        </div>
    </div>
</div>