<ngb-carousel [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
  <ng-template ngbSlide>
    <div class="carousel-item-wrapper">
      <img [src]="ismobile ? '../img/courtyard/mobile_img.jpeg' : '../img/courtyard/Reliance-Courtyard-Banner-Desktop-1.webp'"
        alt="Random first slide" [style.object-fit]="ismobile ? 'inherit' : 'cover'" />

      <!-- Black Overlay -->
      <!-- <div class="overlay" [style.display]="ismobile ? 'absolute' : 'absolute'"></div> -->

      <!-- Centered Text Content -->
      <div class="carousel-content" [style.display]="ismobile ? 'none' : 'absolute'">
        <div class="property-card">
          <div class="card-content">
            <h2>Reliance Courtyard</h2>
            <p class="tagline">Spacious 2 BHK Homes &#64;₹54 Lakh<b style="color: red;">*</b></p>
            <p class="location">
              <mat-icon>map</mat-icon>shankarpally, Hyderabad
            </p>
            <p class="rera">OC Received</p>
            <p class="rera">No GST
              Ready to Move in NOW</p>
            <p class="rera">RERA Registration No:P02400004491</p>

            <hr />

            <div class="details">
              <div class="bhk">
                <h3>2 BHK Flats</h3>
                <p>Spacious Apartments</p>
              </div>
              <div class="price">
                <h3>₹54 Lakh</h3>
                <p>Onwards <b style="color: red;">*</b></p>
              </div>
            </div>

            <button class="cta-btn" (click)="open('Get Price Breakdown')">Get Price Breakdown</button>
          </div>
          <div class="vector-bg"></div>
        </div>
      </div>

    </div>
  </ng-template>
</ngb-carousel>