<div class="beacon-container">
    <h2 class="title">
      <span style="border-bottom: 3px double #d8b50db5;">A masterpiece for the art of life</span></h2>
    <div class="stats-grid">
      <div class="stat-box" *ngFor="let stat of stats">
        <div class="stat-top">{{ stat.value }}</div>
        <div class="stat-bottom">{{ stat.label }}</div>
      </div>
    </div>
  </div>
  <div class="bg-darkblue text-white text-center py-5" style="box-shadow: inset 2px 3px #d8b50db5;">
    <h2 class="display-5 fw-bold">Explore a World of Amenities at Different Heights.</h2>
  </div>
  <ngb-carousel [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
    <ng-template ngbSlide>
      <div class="carousel-item-wrapper position-relative">
        <img
          src="../img/courtyard/DJI_20250616115350_0172_D-min-scaled.webp"
          class="w-100"
          style="object-fit: cover; height: 100vh;"
          alt="Background Image"
        />
  
        <!-- Overlayed Content -->
        <div
          class="carousel-content-overlay text-dark"
          [style.position]="'absolute'"
          [style.top]="'0'"
          [style.left]="'0'"
          [style.right]="'0'"
          [style.bottom]="'0'"
          style="background: rgb(10 10 10 / 48%); overflow-y: auto;"
        >
          
  
          <div class="container my-5">
            <div class="row g-4">
              <div class="col-md-12" *ngFor="let amenity of amenities">
                <div class="p-4 rounded bg-transparent h-100 shadow-sm">
                  <div class="d-flex align-items-start">
                    <!-- Icon Placeholder -->
                    <div>
                      <h1 class="fw-bold text-uppercase text-white mb-1">{{ amenity.title }}</h1>
                      <p class="small  mb-2 text-white">{{ amenity.subtitle }}</p>
                      <!-- <ul class="small text-dark ps-3 mb-0 text-white">
                        <li *ngFor="let item of amenity.features">{{ item }}</li>
                      </ul> -->
                      <div class="row row-cols-1 row-cols-md-2 g-3 mt-2">
                        <div class="col-md-4" *ngFor="let item of amenity.features">
                          <div class="card h-100 bg-transparent border-0">
                            <!-- <img [src]="item.img" class="card-img-top rounded" alt="Amenity Image" /> -->
                            <div class="card-body p-2 d-flex align-items-center">
                              <mat-icon class="me-2 text-white" style="font-size: 24px;">check_circle</mat-icon>
                              <p class="card-text large text-white">{{ item }}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
  
  
  